<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>TangentTest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <h1>Tangent Projects</h1>
    </div>

    <div class="container" id="mainContainer">
      <div class="row">
          <label style="background-color: lightblue" class="form-control" runat="server" Font-Size="X-Large">Projects</label>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <button class="form-control" id='btnAddProject'>Add Project</button>
          <br />
        </div>
      </div>
      <div class="container" id="project">
        <script type="text-template" id="projecttblTemplate">
        <table class='table table-hover table-responsive'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Is Billable</th>
              <th>Is Active</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class='project-table-body'>
          </tbody>
        </table>
        </script>
        <script type="text-template" id="trTemplate">
          <td><%= title %></td>
          <td><%= description %></td>
          <td><%= start_date %></td>
          <td><%= end_date %></td>
          <td><%= is_billable %></td>
          <td><%= is_active %></td>
          <td><button class='btnAddTask'>Add Task</button>
              <button class='btnUpdateProject'>Update Project</button>
              <button class='btnDeleteProject'>Delete Project</button>
          </td>
        </script>
        <!--<script type="text-template" id="projectTableTemplate">
          <td><%= title %></td>
          <td><%= description %></td>
          <td><%= start_date %></td>
          <td><%= end_date %></td>
          <td><%= is_billable %></td>
          <td><%= is_active %></td>
          <td><button class="form-control">Add Task</button>
              <button class="form-control">Update Project</button>
              <button class="form-control">Delete Project</button>
          </td>
        </script>-->
      </div>

      <div class="row">
          <label style="background-color: lightblue" class="form-control" runat="server" Font-Size="X-Large">Tasks</label>
      </div>

    <div class="container" id="task">
      <script type="text-template" id="tasktblTemplate">
      <table class='table table-hover table-responsive'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Estimated Hours</th>
          </tr>
        </thead>
        <tbody class="task-table-body">
        </tbody>
      </table>
      </script>
      <script type="text/template" id="tasktrTemplate">
        <td><%- title%></td>
        <td><%- due_date%></td>
        <td><%- estimated_hours%></td>
        <td><a href="#task/update/<%- id%>" class="btn form-control" id="btnupdatetask">Update Task</a>
            <a href="#task/delete/<%- id%>" class="btn form-control" id="btndeletetask">Delete Task</a></td>
      </script>
    </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery/dist/notify.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

    <!-- include app and view files -->
    <script src="/app.js"></script>
    <script src="/router.js"></script>
    <script src="/Models/models.js"></script>
    <script src="/views/projectsview.js"></script>
    <script src="/views/tasksview.js"></script>
    <script src="/views/ProjectSubViews/AddTaskView.js"></script>
    <script src="/views/ProjectSubViews/UpdateTask.js"></script>
    <script src="/views/ProjectSubViews/UpdateProject.js"></script>
    <script src="/views/ProjectSubViews/AddNewProject.js"></script>
    <!-- endbuild -->

    <script type="text/template" id="addproject">
      <div class='container'>
        <form role="form" class="form-horizontal contract-form">
              <h1 class='form-control' style='background-color: lightblue'>Add Project</h1>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Title</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='text' class='form-control' id='title' value='<%= AddNewProject.title %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Description</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='text' class='form-control' id='description' value='<%= AddNewProject.description %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Start Date</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='date' class='form-control' id='start_date' value='<%= AddNewProject.start_date %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>End Date</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='date' class='form-control' id='end_date' value='<%= AddNewProject.end_date %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Is Billable</label>
                  </div>
                  <div class='col-lg-6'>
                      <select id='is_billable' class='form-control' value='<%= AddNewProject.is_billbale %>'>
                        <option>true</option>
                        <option>false</option>
                      </select>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Is Active</label>
                  </div>
                  <div class='col-lg-6'>
                    <select id='is_active' class='form-control' value='<%= AddNewProject.is_active %>'>
                      <option>true</option>
                      <option>false</option>
                    </select>
                  </div>
              </div>
              <br />
              <div class='row' style='padding-left: 70%;'>
                  <button type='submit' id='btnGoBack' class='form-control' style='width: 50%;'>Add Project</button>
              </div>
              <div class='row' style='padding-left: 70%;'>
                  <a href='main.html' class='btn form-control'>Cencel</a>
              </div>
            </form>
        </div>
    </script>

    <script type="text/template" id="updateproject">
      <div class='container'>
        <form role="form" class="form-horizontal contract-form">
              <h1 class='form-control' style='background-color: lightblue'>Add Task For Project</h1>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Title</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='text' class='form-control' id='title' value='<%- title %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Description</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='text' class='form-control' id='description' value='<%- description %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Start Date</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='date' class='form-control' id='start_date' value='<%- startdate %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>End Date</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='date' class='form-control' id='end_date'value='<%- enddate %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Is Billable</label>
                  </div>
                  <div class='col-lg-6'>
                      <select id='is_billable'>
                        <option>true</option>
                        <option>false</option>
                      </select>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Is Active</label>
                  </div>
                  <div class='col-lg-6'>
                    <select id='is_active'>
                      <option>true</option>
                      <option>false</option>
                    </select>
                  </div>
              </div>
              <br />
              <div class='row' style='padding-left: 70%;'>
                  <button type='submit' id='btnUpdateProject' class='form-control' style='width: 50%;'>Update Project</button>
              </div>
              <div class='row' style='padding-left: 70%;'>
                  <a href='main.html' class='btn form-control'>Cencel</a>
              </div>
            </form>
        </div>
    </script>

    <script type="text/template" id="addtask">
      <div class='container'>
        <form role="form" class="form-horizontal contract-form">
              <h1 class='form-control' style='background-color: lightblue'>Add Task For Project</h1>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Title</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='text' class='form-control' id='title'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Due Date</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='date' class='form-control' id='duedate'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Estimated Hours</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='number' class='form-control' id='estimatedhours'/>
                  </div>
              </div>
              <br />
              <div class='row' style='padding-left: 70%;'>
                  <button type='submit' id='btnSaveTask' class='form-control' class='savenewtask' style='width: 50%;'>Save New Task</button>
              </div>
              <div class='row' style='padding-left: 70%;'>
                  <a href='main.html' class='btn form-control'>Cencel</a>
              </div>
            </form>
          </div>
    </script>

    <script type="text/template" id="updatetask">
      <div class='container'>
        <form role="form" class="form-horizontal contract-form">
              <h1 class='form-control' style='background-color: lightblue'>Update task</h1>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Title</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='text' class='form-control' id='title' value='<%- title %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Due Date</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='date' class='form-control' id='duedate' value='<%- duedate %>'/>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-lg-6'>
                      <label>Estimated Hours</label>
                  </div>
                  <div class='col-lg-6'>
                      <input type='number' class='form-control' id='estimatedhours' value='<%- estimatedhours %>' />
                  </div>
              </div>
              <br />
              <div class='row' style='padding-left: 70%;'>
                  <button type='submit' id='btnUpdateTask' class='btn form-control' class='updatetask' style='width: 100%;'>Update Task</button>
              </div>
              <div class='row' style='padding-left: 70%;'>
                  <a href='main.html' class='btn form-control'>Cencel</a>
              </div>
            </form>
          </div>
    </script>

    <script>
      $(function(){
        app.start();
      });
    </script>

</body>
</html>
